<br><br><br>
<div class="center tts-header">
  <div id="haze", style='width: 940px; margin: auto'>
    <h2>Welcome to the</h2>
    <h1><i>Tech Talent South Jobs Board</i></h1>
    </div><br>
  </div>  <!-- close div for haze -->
</div><br><br><br> <!-- close div for center rainbow -->
<%= link_to "Sign in", new_user_session_path, class: "btn btn-success btn-lg" %>
<%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-lg" %>

<div class='row'>
  <div class="col-md-5 col-md-offset-4">
    <div class='panel panel-default'>
      <div class="panel-body", style="text-align: center">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="input-group input-group-md">
        <span class="input-group-addon glyphicon glyphicon-envelope"></span>
        <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control"%>
      </div>
      <br>
      <div class="input-group input-group-md">
        <span class="input-group-addon glyphicon glyphicon-lock" ></span>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control"%>
      </div>
      <% if @validatable %>
        <em class="pull-right">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>       
      <br><br><br>
      <div class="input-group input-group-md">
        <span class="input-group-addon glyphicon glyphicon-lock" ></span>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", class: "form-control"%>
      </div>
      <br>

        <%= f.submit "Sign up", class: "btn btn-success btn-lg"%>

      <br>
    </div>
  </div>
    <% end %>
      </div>  <!-- close div for panel-body-->
    </div> <!-- close div for panel panel-default-->
  </div>  <!-- close div for col-md-6 -->
</div>  <!-- close div for row -->


    <br>
    <br>
  </div>
</div>
</div>
<br>
<br>
<br>
<br>


