<p id="notice"><%= notice %></p>
<br>
<br>
<u class="pull-right"><%= link_to 'Submit New Listing', new_job_path %></u>

<h1 style="text-align:center">Current Available Jobs</h1>
<hr style="width:65%;height:1px;background-color:#f79027;border:none" align='center' noshade='noshade'>
<hr style="width:65%;height:1px;background-color:#f79027;border:none" align='center' noshade='noshade'>

<% @jobs.each do |job| %>     
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-3">
          <%= job.company_name %>
          <br> 
          <!-- Using paperclip this is where company's logos would go. -->
          <img alt="TTS Logo" src="/assets/tts_logo.png" width="50px", height="50px">     
        </div> 
        <div class="col-sm-9">
          <b><%= job.title %></b>
          <span class="pull-right"><%= job.city %></span><br>
          <%= job.description %>
          <br>
          <span>Last updated:&nbsp; &nbsp;<%= time_ago_in_words(job.updated_at) %>&nbsp;ago</span>
          <u class="pull-right"><%= link_to 'Show More', job %></u>
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr style="width:65%;height:1px;background-color:#f79027;border:none" align='center' noshade='noshade'>
<% end %>
<hr style="width:65%;height:1px;background-color:#f79027;border:none" align='center' noshade='noshade'>
<br>