<!DOCTYPE html>
<html>
	<head>  <!-- the ordering of code should mean that local styling overrides bootstrap -->
	  <title>JobsBoard</title>
	  
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>	
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<!-- enhance mobility -->
		<meta name="viewport" content="width=device-width, initial-scale=1">	
	  <%= csrf_meta_tags %>
	  <nav class="navbar navbar-custom navbar-fixed-top">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="http://techtalentsouth.com/"><%= image_tag "tts_logo.png", alt: "TTS logo", class: "logo" %></a>
		    </div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="/jobs">Search All Jobs <span class="sr-only">(current)</span></a></li>
		        <li class="active"><a href=""><i> or Search By: </i><span class="sr-only">(current)</span></a></li>
		    <!-- Dropdown for search_by_city -->    
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">City <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">	            
		            <li><%= link_to "Atlanta", jobs_search_by_city_path(city: "Atlanta")%></li>
		            <li class="divider"></li>
		            <li><%= link_to "Asheville", jobs_search_by_city_path(city: "Asheville")%></li>
		            <li><%= link_to "Charlotte", jobs_search_by_city_path(city: "Charlotte")%></li>
		            <li><%= link_to "Raleigh", jobs_search_by_city_path(city: "Raleigh")%></li>
		            <li class="divider"></li>	            
		            <li><%= link_to "New Orleans", jobs_search_by_city_path(city: "New Orleans")%></li>
		          </ul>
		        </li>
		    <!-- Dropdown for search_by_category -->    
		      	<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Category <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		          	<li><%= link_to "UX", jobs_search_by_category_path(category: "UX")%></li>
		            <li><%= link_to "Front-end", jobs_search_by_category_path(category: "Front-end")%></li>
		            <li class="divider"></li>
		            <li><%= link_to "Back-end/Database", jobs_search_by_category_path(category: "Back-end")%></li>
		            <li><%= link_to "IT support", jobs_search_by_category_path(category: "IT support")%></li>
		            <li class="divider"></li>
		            <li><%= link_to "Sales & Marketing", jobs_search_by_category_path(category: "Sales & Marketing")%></li>
		            <li class="divider"></li>
		            <li><%= link_to "Tutoring/Kids Code", jobs_search_by_category_path(category: "Tutoring")%></li>
		          </ul>
		        </li>
		    <!-- Dropdown for search_by_jobtype -->    
		        <li class="dropdown">  
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Job Type <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		          	<li><%= link_to "Fulltime", jobs_search_by_type_path(jobtype: "Fulltime")%></li>
		            <li><%= link_to "Parttime", jobs_search_by_type_path(jobtype: "Parttime")%></li>
		            <li><%= link_to "Freelance", jobs_search_by_type_path(jobtype: "Freelance")%></li>
		            <li><%= link_to "Intern", jobs_search_by_type_path(jobtype: "Intern")%></li>
		               
		          </ul>
		        </li>
		        <% if can? :create, Job %>
		        	<li><%= link_to "Submit Job", new_job_path %></li>
		        <% end %>
		        <% if can? :mange, User %>
		        	<li><%= link_to "Show Users", admin_path %></li>
		        <% end %>
		      </ul>
		    <!-- Link to TTS portal-->  
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="http://techtalentportal.herokuapp.com/">TTSPortal</a></li>
		    <!-- User settings dropdown -->
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">User <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><%= link_to "Sign in", new_user_session_path%></li>
		            <li><%= link_to "Change Password", edit_user_password_path%></li>
		            <li class="divider"></li>
		            <li><%= link_to "Sign up", new_user_registration_path%></li>
		            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete%></li>
		          </ul>
		        </li>
		      </ul>
		    </div> <!-- /.navbar-collapse -->
		  </div> <!-- /.container-fluid -->
		</nav>
	</head>
	<body>
		<% if notice != nil && user_signed_in? %>
		  <p id="notice" class="alert alert-success" role="alert">
		    <%= notice %>
			</p>
		<% end %>
		<div class="container-fluid">	
			<%= yield %>
		</div>
		<footer class='footer'>
			© Copyright 2015  | Tech Talent South | ALL RIGHTS RESERVED
		</footer>
	</body>
</html>
